.md-large-button{
    background: #2f2f2f;
    color: white;
    width: 150px;
    color: #fff;
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 0px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  md-progress-linear {
    position: absolute;
    top:0;
   }
   .p-0 {
     padding: 0px;
   }
