 <md-content layout-padding  layout-wrap flex="100">
		<md-card>
			<md-card-content>
				<h3>Register yourself for Hackathon.</h3>
				<form name="registerForm" novalidate ng-submit="registerForm.$valid && vm.register()">
					<div layout-gt-md="row">
						<md-input-container flex-gt-md="50">
							<label>First name</label>
							<input required  name="firstName" ng-model="vm.user.first_name">
							<div ng-messages="registerForm.firstName.$error">
									<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
						<md-input-container flex-gt-md="50">
							<label>Last Name</label>
							<input required name="lastName" ng-model="vm.user.last_name">
							<div ng-messages="registerForm.lastName.$error">
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
					</div>
					<div layout-gt-md="row">
						<md-input-container flex-gt-md="50">
							<label>Email Address</label>
							<input required type="email" name="email" ng-model="vm.user.email"/>

							<div ng-messages="registerForm.email.$error">
								<div ng-message="required">
										<div ng-message="required">This is required.</div>
								</div>
							</div>
						</md-input-container>

						<md-input-container flex-gt-md="50">
							<label>Contact Number</label>
							<input type="number"  name="phone" ng-model="vm.user.phone" />
						</md-input-container>
					</div>
					<div layout-gt-md="row">
							<md-input-container flex-gt-md="50">
									<label>Company Name</label>
									<input type="text"  name="company" ng-model="vm.user.company_name" />
								</md-input-container>
							<md-input-container flex-gt-md="50">
								<label>Location</label>
								<input type="text"  name="city" ng-model="vm.user.city"/>
							</md-input-container>
						</div>
						<div layout-gt-md="row">
								<md-input-container flex-gt-md="100">
										<label> Technology you worked on: (eg. web developer, lawyer)</label>
										<input type="text"  name="company" ng-model="vm.user.technology" />
									</md-input-container>
						</div>
						<div layout-gt-md="row">
							<md-input-container flex-gt-md="50">
								<md-radio-group ng-model="vm.user.gender">
									<md-radio-button value="female" class="md-primary">Female</md-radio-button>
									<md-radio-button value="male" class="md-primary"> Male </md-radio-button>
								</md-radio-group>
							</md-input-container>
							<md-input-container flex-gt-md="50">
								<md-switch class="md-primary" name="isJoining" ng-model="vm.user.is_joining" required>
									Are you Interested for this event?
								</md-switch>
								<div ng-messages="registerForm.isJoining.$error">
									<div ng-message="required">
										You must enable this options before you can proceed.
									</div>
								</div>
							</md-input-container>
					</div>	
					<md-input-container class="md-block">
						<md-checkbox name="tos" ng-model="vm.tos" required class="md-primary">
							I understand all the terms and condition for this hackathon.
						</md-checkbox>
						<div ng-messages="registerForm.tos.$error" multiple md-auto-hide="false">
							<div ng-message="required">
								You must accept the terms of service before you can proceed.
							</div>
						</div>
					</md-input-container>
					<div>
						<md-button class="md-raised md-large-button p-0 has-black" ng-disabled="registerForm.$invalid" type="submit"> 
							<md-progress-linear ng-if="vm.isLoading" md-mode="indeterminate" class="md-warn"></md-progress-linear>
								Register
						</md-button>
						<md-button ng-click="vm.goBack()" class=" md-raised md-large-button">cancel</md-button>
					</div>
				</form>
			</md-card-content>
		</md-card>
  </md-content>