<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">  
                <div class="footer_single">
                    <img src="/assets/img/oWomaniya-white.png" alt="" class="footer_logo img-fluid">
                    <ul class="list-unstyled contact_info">
                        <li>contact@cyphertree.com</li>
                        <li>Call: +(91)-(020)-48618404</li>
                    </ul>
                    <div class="social_wraper">
                        <ul class="social-items d-flex list-unstyled">
                            <li><a href="https://www.facebook.com/cyphertree/"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="https://twitter.com/cyphertree"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/cyphertree-technologies-pvt-ltd"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="https://www.instagram.com/owomaniya.io/"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div>                    
                </div> 
            </div>    
			<div class="col-12 col-sm-12 col-md-4 col-lg-4">
				<div class="footer_single footer_signle_item_2">
					<h3 class="footer_item_title">Location</h3> 
					<ul class="list-unstyled">
						<li><a href="#"> 406, Sky Max, Viman Nagar, Pune 411014, India.</a></li>
					</ul>
				</div> 
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4">
					<div class="footer_single footer_signle_item_2">
						<h3 class="footer_item_title">Latest Tweets</h3> 
						<ul class="list-unstyled">
							<li><a class="twitter-timeline" data-lang="en" data-height="200" data-theme="dark" href="https://twitter.com/CypherTree?ref_src=twsrc%5Etfw">Tweets by CypherTree</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
						</ul>
					</div> 
			</div>
        </div>
    </div>   
    <div class="copytight_info">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 d-flex justify-content-between">
                    <p>Copyright © oWomaniya 2018</p>
                    <ul class="nav navbar list-unstyled">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Condition</a></li>
                        <li><a href="#">FAQS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                   
</footer><!-- ./ End Footer -->
