<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center" style="background-color: black;color:white">
    <div>
        <md-button>oWomaniya</md-button>
        <md-menu>
            <md-button md-menu-origin ng-click="$mdOpenMenu()">About Us</md-button>
        </md-menu>
    </div>
    <div class="nav-buttons">
        <md-button class="md-raised md-accent" ng-click="vm.getGithubLink()">Contribute Here</md-button>
        <md-button class="md-raised md-warn" ng-click=vm.contactMe()>Contact Us</a></md-button>
    </div>
</div>