<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center" style="background-color: black;color:white">
    <div>
        <md-button>Home</md-button>
        <md-button ui-sref="mobiles">Mobiles</md-button>
        <md-button ui-sref="computers">Computers</md-button>
        <md-menu>
            <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ui-sref="help">Help</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ui-sref="about">About</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="nav-buttons">
        <md-button class="md-raised md-accent" ng-click="vm.getGithubLink()">Contribute Here</md-button>
        <md-button class="md-raised md-warn" ng-click=vm.contactMe()>Contact Us</a></md-button>
    </div>
</div>