.md-nav-bar {
    border-color: white !important;
    background-color: white !important;
}
.nav-dark{
    background-color: white !important;
    ._md-nav-button {
        font-size: 17px !important;
    }
}
.m-l-15{
    margin-left: 15px;
}