
 <div class="form-bg wow fadeInRight" >
	 <div class="row">
		 <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="user in vm.userList">
			 <div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				 <div class="mainflip">
					 <div class="frontside">
						 <div class="card">
							 <div class="card-body text-center">
								 <p><img class=" img-fluid" ng-src="{{user.logo || '/assets/img/women.jpg'}}" alt="oWomaniya"></p>
								 <h4 class="card-title Primary - pink">{{user.first_name | uppercase}} {{user.last_name | uppercase }}</h4>
								 <p class="card-text">{{user.technology}}<span ng-if="user.technology && user.company_name">,</span> {{user.company_name }}</p>
								 <p class="card-text text-truncate"><span ng-if="user.email"><span class="fa fa-envelope"></span></span> {{user.email }}</p>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 
		 
		 <!-- <div class="col-xs-12 col-sm-6 col-md-4">
			 <div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				 <div class="mainflip">
					 <div class="frontside">
						 <div class="card">
							 <div class="card-body text-center">
								 <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
								 <h4 class="card-title">Sunlimetech</h4>
								 <p class="card-text">This is basic card with image on top, title, description and button.</p>
								 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 
		 
		 <div class="col-xs-12 col-sm-6 col-md-4">
			 <div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				 <div class="mainflip">
					 <div class="frontside">
						 <div class="card">
							 <div class="card-body text-center">
								 <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
								 <h4 class="card-title">Sunlimetech</h4>
								 <p class="card-text">This is basic card with image on top, title, description and button.</p>
								 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 
		 
		 <div class="col-xs-12 col-sm-6 col-md-4">
			 <div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				 <div class="mainflip">
					 <div class="frontside">
						 <div class="card">
							 <div class="card-body text-center">
								 <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
								 <h4 class="card-title">Sunlimetech</h4>
								 <p class="card-text">This is basic card with image on top, title, description and button.</p>
								 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 
		 
		 <div class="col-xs-12 col-sm-6 col-md-4">
			 <div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				 <div class="mainflip">
					 <div class="frontside">
						 <div class="card">
							 <div class="card-body text-center">
								 <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
								 <h4 class="card-title">Sunlimetech</h4>
								 <p class="card-text">This is basic card with image on top, title, description and button.</p>
								 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 
		 
		 <div class="col-xs-12 col-sm-6 col-md-4">
			 <div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				 <div class="mainflip">
					 <div class="frontside">
						 <div class="card">
							 <div class="card-body text-center">
								 <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
								 <h4 class="card-title">Sunlimetech</h4>
								 <p class="card-text">This is basic card with image on top, title, description and button.</p>
								 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
							 </div>
						 </div>
					 </div>
					 
				 </div>
			 </div>
		 </div> -->
		 

	 </div>
	</div>