
 <div class="form-bg wow fadeInRight" >
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="user in vm.userList">
			<div class="image-flip2" ontouchstart="this.classList.toggle('hover');">
				<div class="mainflip">
					<div class="frontside">
						<div class="card">
							<div class="card-body text-center social-items">
								<p><img class=" img-fluid" ng-src="{{user.logo || '/assets/img/avatar.png'}}" alt="oWomaniya"></p>
								<h5 class="card-title Primary - pink">{{user.first_name | uppercase}} {{user.last_name | uppercase }}</h5>
								<p class="card-text">{{user.technology}}<span ng-if="user.technology && user.company_name">,</span> {{user.company_name }}</p>
								<p class="card-text text-truncate card-text-15"><span ng-if="user.email"><span class="fa fa-envelope"></span></span> {{user.email }}</p>
								<div ng-if="user.links && user.links.length >0">
									<social-links urls="user.links" watch-urls="true"></social-links>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>