
<section class="teachers-area">
	<div class="container">
		<div class="row teachers-wapper-01">
			<div class="col-sm-6 col-md-3 teacher-single m-t-50" ng-repeat="user in vm.userList">
				<div class="teacher-body">
					<div class="image-box">
					<img ng-src="{{user.logo || '/assets/img/Untitled design.png'}}" alt="" class="img-responsive img-height">
				</div>
					<div class="teachars-info">
						<h3>{{user.first_name}} {{user.last_name}}</h3>
						<span>{{user.technology}}<span ng-if="user.technology && user.company_name">,</span> {{user.company_name }}</span>
						<div ng-if="user.links && user.links.length >0">
							<social-links urls="user.links"></social-links>
						</div>
					</div>
				</div>
			</div>										
		</div>								
		</div>
</section>