  .no-margin{
    margin: 0px !important;
  }
  .no-padding{
    padding: 0px !important;
  }
  .has-text-grey {
    color: grey;
  }
  .font-s-15 {
    font-size: 15px;
  }
  .font-s-20 {
    font-size: 20px;
  }
  .m-20 {
    margin: 20px;
  }
  .font-s-15{
    font-size: 15px;
  }
  .m-t-25{
    margin-top:25px;
  }
  label {
    font-size:18px;
    color: black !important;
  }
  .p-25{
    padding:25px;
  }
  .caption-block {
    bottom: 54% !important;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:left;
  }
  a{
    color: white !important;
    background-color: black !important;
    font-size: 30px;
    padding: 10px 25px;
    border: 2px solid black;
    min-height: 40px !important;
    min-width: 135px !important;
    }
    a:hover{
      color: white !important;
      background-color: black;
    }
    h2, h4 {
      color: black;
    }
    .m-22{
      margin: 22px !important;
    }