  .no-margin{
    margin: 0px !important;
  }
  .no-padding{
    padding: 0px !important;
  }
  .has-text-grey {
    color: grey;
  }
  .font-s-20 {
    font-size: 20px;
  }
  .m-20 {
    margin: 20px;
  }
  .font-s-15{
    font-size: 15px;
  }
  .m-t-25{
    margin-top:25px;
  }
  label {
    font-size:18px;
    color: black !important;
  }
  .p-25{
    padding:25px;
  }
.home {
  .md-card-wrapper {
    position: relative;
    a{
        position: absolute;
        top: 42%;
        right: 78%;
        color: white !important;
        background-color: black;
        font-size: 30px;
        padding: 10px 25px;
        border: 3px solid black;
      }
      a:hover{
        color: black !important;
        background-color: white;
      }
      h2{
        position: absolute;
        top: 12%;
        right: 42%;
        color: black;
        font-size: 65px;
        padding: 10px 25px;
        font-weight:bolder;
        
      }
      h4{
        position: absolute;
        top: 26%;
        right: 65%;
        color: white;
        font-size: 35px;
        padding: 5px 25px;
        
      }
  }
}